body {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.container {
  width: 350px;
  height: 120px;
  margin: 10px;
  padding: 20px;
  color: purple;
  text-align: center;
  cursor: pointer;
}

#image-container {
  flex: 0 0 450px; /* Adjust the width of the image container */
  margin-right: 20px;
  overflow: hidden;
  text-align: center; /* Center the image horizontally */
  margin-right: 100px; /* Adjust as needed to create space between the image and the grade container */
}


#image-container img {
  width: 100%; /* Set it back to 100% to ensure it fits within the container */
  height: auto; /* This will maintain the aspect ratio of the image */
  display: block;
}

#learn-more-btn {
  background: linear-gradient(to bottom, #f92672, #ea43de);
  border-radius: 6px; /* Rounded corners for each grade box */
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  text-align: center; /* Center the button horizontally */
  margin-top: 100px; /* Adjust as needed to create space between the image and the button */
}

.grade-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 95px; /* Adjust as needed */
}

.grade-container .container {
  width: 300px; /* Adjust as needed */
  height: 80px; /* Adjust as needed */
  margin: 10px;
  padding: 15px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(to bottom, #f92672, #ea43de);
  border-radius: 6px; /* Rounded corners for each grade box */
}
